.site-header {
  position: relative;
  background-color: pink;
  border-bottom-width:2px;
  border-color: black;}


.Codingyaar {
  font-weight: bold;
  font-size: 20px; }


.innersiteheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;}




a {
	text-decoration: none;
	color: white;
	margin-left: 1rem;
}

.button{
	border-style: solid;
	border-color: white;
	border-radius: 2px;
	border-width: 2px;
	margin-left: 5px;
	padding: 3px;
	color: white;


}
#buttonlink{
	margin-left: 0%;
	text-align: center;
	padding: 3px;
	color: white;
	position: relative;

}
